@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    /* debug */
    background-color: pink
}

.bar {
    width: 100vw;
    height: 100px;
    /*debug*/
    background-color: #f9ab1ca8;
}

#main {
    display: flex;
    position: absolute;
    top: 30px;
    left: 135px;
}

.directory {
    width: 20vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /*debug*/
    background-color: #e46bf9;
}

.directory div.bar-profile {
    width: 20vw;
    height: 7vh;
    /*debug*/
    border: 1px solid white;
}

.directory div.bar-notify {
    width: 20vw;
    height: 8vh;
    /*debug*/
    border: 1px solid white;
}

.directory div.bar-search {
    width: 20vw;
    height: 5vh;
    /*debug*/
    border: 1px solid white;
}

.directory div.bar-contacts {
    width: 20vw;
    height: 75vh;
    /*debug*/
    border: 1px solid white;
}

.inbox {
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /*debug*/
    background-color: #68dfb1;
}

.inbox-contact {
    width: 60vw;
    height: 6.6vh;
    /*debug*/
    border: 1px solid white;
}

.inbox-container{
    width: 60vw;
    height: 76vh;
    /*debug*/
    border: 1px solid white;
}

.inbox-input {
    width: 60vw;
    height: 7.6vh;
    /*debug*/
    border: 1px solid white;
}